
input{
  width: 100%;
  border:1px solid black;
}

.loginContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap:20px;
}
.loginForm{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 400px;
}

.loginSubmit{
  width: 100%;
  border:1px solid black;
  color:white;
  background-color: green;
  border-radius: 6px;
  padding: 10px 4px;
  cursor: pointer;
}